{% extends 'base_layout.html' %}
    
{% block content %}
    {% if user.is_authenticated %}
        <h1>Are you sure you want delete the following reservation?</h1>
        <h2>{{reservation.accommodation}} from {{reservation.checkin}} to {{reservation.checkout}}</h2>
        <form id="confirmDelete" action='{% url "accommodation:deleteReservation" pk=reservation.pk %}' method='post'>
            {% csrf_token %}    
            <button id="deleteButton" class="deleteFormBtn" value="delete" type="submit" name="deleteReservationButton" form="confirmDelete">Yes</button>
            <button id="cancelDeleteButton" class="deleteFormBtn" value="cancelDelete" onclick="location.href='{% url 'accommodation:reservation' %}'" type="button">Cancel</button>
        </form>
    {% endif %}
{% endblock %}